/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --bg-color: #404258 ;
    --color-font-principal: #fff;
    --color-black: #000;
    --color-gray: #ccc ;
    
    /* Fonts */
    --font-family-principal: 'Playfair Display', serif;

}


body {
    background-color: var(--bg-color);
    color: var(--color-font-principal);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-family: var(--font-family-principal);
    padding: 10px;
}

.box-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-validation {
    height: 50px;
    width: 300px;
    font-size: 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-black);

}

.button-validation:hover {
    background-color: var(--color-gray);
    cursor: pointer;
}

.box-number h3 {
    font-size: 26px;
}

.box-number span {
    font-size: 40px;
}

h1 {
    font-size: 2.2rem;
}

#name-game{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 10px;
}


#input-value-number {
    margin: 10px;
    height: 50px;
    width: 100px;
    font-size: 40px;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
}

.button-game-again {
    height: 50px;
    width: 200px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


input:focus-visible,.button-validation:active, .button-game-again:active {
    outline: none;
    border: 2px solid var(--color-font-principal);
}

